body,html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}
#intro{
  width: 100%;
  height: 100%;
  background-image: url('../image/macbook.jpg');
  background-size: cover;
  color: white;
}
.intro-text{
  margin-top: 60%;
  text-align: right;
}
.intro-text h1{
  font-weight: 300;
}
#profile{
  width: 100%;
  height: 70%;
}
.profile-card{
  height: 100%;
  position: relative;
}
.profile-card-contact{
  padding: 0;
}
.row-icon-contact{
  background-color: brown;
  min-width: 100%;
  min-height: 100%;
}
.icon-contact{
  height: 30%;
  width: 30%;
}
