$primary-color:#333;
$subprimary-color:#666;

html,body{
  margin:0;
  padding: 0;
  border:0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: $primary-color;
  background-color: #fafafa;
}

.pic-intro{
  background-image: url('../img/phachara_large.jpg');
  background-size: cover;
  background-position: 70% 30%;
  background-repeat: no-repeat;
  height: 50vh;
}

#intro{
  height: 50vh;
  position: relative;
  h1{
    color: $primary-color;
    font-weight: 300;
    letter-spacing: 0.1em;
    small{
      color: $subprimary-color;
      font-weight: 100;
      letter-spacing: 0.06em;
    }
  }
  .top{
    font-size: 1.2em;
    margin-top:3em;
    letter-spacing: 0.06em;
  }
  .ico{
    font-size: 1.90em;
    margin: 1em;
    color: $subprimary-color;
  }
  .mouseico{
    margin-top: 1em;
    width: 1em;
    height: 1em;
  }
  a:hover{
    cursor: pointer;
  }
}

#profile{
  .standingimg{
    height: 100vh;
    background-image: url('../img/IMG_8468.jpg');
    background-repeat: no-repeat;
    background-position: 50% 75%;
    background-size: cover;
  }
  h3,h4{
    font-weight: 300;
  }
  span{
    font-size: 0.8em;
  }
  h3.poem{
    margin-top: 1.5em;
    font-style: italic;

  }
  h3.poem span{
    font-size: 0.5em;
  }

}

#proj{
  height: 100vh;
  .pattern{
    background-image: url('../img/6215.jpg');
    height: 15vh;
  }
  .fullsize{
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .freedom{
    position: absolute;
    bottom: 0;
  }
  h2{
    font-weight: 300;
    letter-spacing: 0.07em;
    margin-bottom: 0.7em;
  }
  .owl-carousel{
    margin-top: 5em;
  }
  .box{
    width: 40%;
  }
  .btn-grey{
    color: #434A54;
    background-color: #CCD1D9;
    border-color: #CCD1D9;
  }
  .group{
    position: relative;
    p{
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0.3em 3em 0.3em 3em;

      color: white;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
