$primary-color:#333;
$subprimary-color:#666;
html,body{
    margin:0;
    padding:0;
    border:0;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    font-family: 'Helvetica'
}
header{
    img{
      margin-top: 1em;
      width: 110px;
      height: 110px;
    }
    h4{
      color:$primary-color;
      font-weight: 500;
      margin-bottom: 7px;
    }
    span{
      color: $subprimary-color;
      font-size: 16px;
    }
}
.header{
  font-weight: 600;
}
#about-me{
  .detail{
    font-weight: 500;
  }
  .ico{
    font-size: 1.8em;
    margin-top: 1em;
    color: $subprimary-color;
  }
}
#exp{
  margin-top: 1em;
}
#proj{
  margin-top: 2em;
  a{
    margin-left: 2em;
    margin-right: 2em;
  }
}
